.back4{
    background: #0b0c16;
}
.mid_box{
    background: #252848;

}
.texting{
    margin-top:80px;
    margin-bottom: 60px;
}
.main{
    width:100%;
}
.buy_crypto_text{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;

}
.matic{
    font-family: 'Gilroy-Medium';
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #B9C1D9;


}
.dropdownmodify_team_display1{
    border-radius: 100px 100px 100px 100px;
    border: 1px solid #FFFFFF;
    background: #29293C;
    padding-top: 0.1vh;
    border-color: #29293C;
    width:90%;
    color: #FFFFFF;
  }

.spacing{
    padding:70px;
    }

    .spacing2{
        padding:50px;
        }
.polygon{
    margin-left:-30px;
}

.dollar{
    margin-right:-20px;
    padding:0;
    justify-content: right;
    align-items: right;
    align-content: right;

}

.top_bar{
    margin-right:-30px;
}
.upper_box{
    background: #252A4D;
border-radius: 12px;
}


.upper_box_text1{
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    padding-top:10px;
    line-height: 21px;
    
    color: #FFFFFF;
}
.upper_box_text2{
    font-family: 'Gilroy-Medium';
    font-size: 12px;
    line-height: 14px;
    margin-top:-15px;
    
    color: #FFFFFF;
    
}

.upper_box_button2{
    box-sizing: border-box;

/* Auto layout */
margin-top:-10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;

    background: #F8F9FA;
/* Small */

box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
border-radius: 12px;
font-family: 'Gilroy-Medium';
font-size: 12px;
line-height: 14px;
text-align: center;
/* padding:15px; */
margin-bottom:15px;

color: #7661F6;
}
.top_option{
    background: #252A4D;
    border-radius: 12px;
}

.top_option_coin{
font-family: 'Gilroy-SemiBold';
font-size: 14px;
line-height: 12px;
/* identical to box height, or 100% */
padding:18px;
text-align: center;
letter-spacing: 0.1em;

color: #F8F9FA;
}
.top_option_news{
    font-family: 'Gilroy-Regular';
    font-size: 14px;
    line-height: 12px;
    /* identical to box height, or 100% */
    text-align: center;
    /* text-align: right; */
    letter-spacing: 0.1em;
    padding:18px;
    color: #B9C1D9;
    
    
}
.home_image{
/* margin-left: -20px; */
}
.wallet_image{
    /* margin-left: 5px; */
    /* padding-left: 10px; */
}
.reverse_image{
   align-content: center;
justify-content: center;
align-self: center;
align-items: center;
   /* margin-left: 5px; */
   /* marg */
   /* margin-right: -10px; */
   /* padding-left: 12%; */
}

.bottom_bar{
    align-items: center;
    
}

.swap{
    align-items: center;
    align-content: center;
    align-self: center;
}